<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img id="me" src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <!-- <p>{{ site.description | default: site.github.project_tagline }}</a> -->
        <p style="margin-top: 2em;">
          <a class="alink" target="_blank" href="mailto:blasilli at diag.uniroma1.it"><i class="fas fa-envelope"></i>Email</a><br>
          <a class="alink" target="_blank" href="https://twitter.com/GrazianoBlas"><i class="fab fa-twitter-square"></i> Twitter</a><br>
          <a class="alink" target="_blank" href="https://www.linkedin.com/in/blasilli/"><i class="fab fa-linkedin"></i> Linkedin</a>
        </p>
        <p>
          <a class="alink" target="_blank" href="https://orcid.org/0000-0003-3339-6403"><i class="ai ai-orcid"></i> ORCID</a><br>
          <a class="alink" target="_blank" href="https://www2.scopus.com/authid/detail.uri?authorId=57202603687"><i class="ai ai-scopus"></i> Scopus</a><br>
          <a class="alink" target="_blank" href="https://scholar.google.it/citations?user=xpuos8EAAAAJ&hl"><i class="ai ai-google-scholar-square"></i> Google Scholar</a><br>
          <a class="alink" target="_blank" href="https://www.researchgate.net/profile/Graziano-Blasilli"><i class="ai ai-researchgate"></i> ResearchGate</a><br>
          <a class="alink" target="_blank" href="https://dblp.org/pid/219/7390"><i class="ai ai-dblp"></i> dblp</a><br>
        </p>
        <p>
          <a class="alink" target="_blank" href="https://github.com/blasilli/"><i class="fab fa-github"></i> GitHub</a><br>
        </p>

        <!--
        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}
        -->

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>2026 Graziano Blasilli &mdash; All rights reserved.</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
